# TRANSFORM

### Notes
TO DO: extract zip code (found df)?? 

TO DO: create duration column after merge

TO DO: split breed column so "mix" is in breed 2??

TO DO: replace NaN w/ "none" for Name, Breed 2, Color 2??

ISSUE:intakes_df found location split. Not all entries have street, city and state. Split misplaces missing values.

In [17]:
import pandas as pd

In [18]:
#Import Found csv
found_df = pd.read_csv("AAC_Found.csv")

#Select rows where Type= "Dog"
found_df = found_df.loc[found_df['Type'] == 'Dog']

#Select columns ('Animal ID', 'Found Location', 'At AAC', 'Intake Date', 'Looks Like', 'Color','Sex','Age','Image Link')
found_df = found_df[['Animal ID', 
                     'Found Location', 
                     'At AAC', 
                     'Intake Date',
                     'Looks Like', 
                     'Color',
                     'Sex',
                     'Age',
                     'Image Link']]

#Split Sex column into gender and found sex
#split value of Sex upon intake column
found_sex_split = found_df['Sex'].str.split(" ", n = 1, expand = True) 
  
# making separate intake sex column from new data frame 
found_df["Intake_Sex"]= found_sex_split[0] 

# making separate gender column from new data frame 
found_df["Gender"]= found_sex_split[1] 
  
# Dropping old Sex upon intake column
found_df.drop(columns =['Sex'], inplace = True) 

#Split Found Location column into address and coordinates
#split value of found location column
found_loc_split = found_df['Found Location'].str.split("(", n = 1, expand = True) 
  
# making separate address column from new data frame 
found_df["Address"]= found_loc_split[0].str.replace('/n', '')

#Extract zip code (last 5 characters of address)
#found_df["Zip_code"] = found_df["Address"].str[-5:]

#split Lat/Long on ","
found_coord_split = found_loc_split[1].str.split(",", n = 1, expand = True) 
# making separate coordinate columns from new data frame 
found_df["Latitude"]= found_coord_split[0] 
found_df["Longitude"]= found_coord_split[1].str.replace(')', '') 


found_df.head()

#to csv
#found_df.to_csv('AAC_Found_Final.csv')

,Animal ID,Found Location,At AAC,Intake Date,Looks Like,Color,Age,Image Link,Intake_Sex,Gender,Address,Latitude,Longitude
2,A808186,"BAHAN DRIVE 78617\n(30.157123, -97.611102)",Yes (come to the shelter),11/05/2019,English Bulldog,Brown/White,1 year,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...,Intact,Female,BAHAN DRIVE 78617\n,30.157123,-97.611102
3,A807919,"6001 OLEANDAR TRAIL\nAUSTIN 78735\n(30.251613,...",Yes (come to the shelter),11/01/2019,Chihuahua Shorthair,White,5 years,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...,Spayed,Female,6001 OLEANDAR TRAIL\nAUSTIN 78735\n,30.251613,-97.883148
4,A808185,"BAHAN DRIVE 78617\n(30.157123, -97.611102)",Yes (come to the shelter),11/05/2019,English Bulldog,Brown/White,3 years,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...,Intact,Female,BAHAN DRIVE 78617\n,30.157123,-97.611102
5,A808112,SOUTH WEST FIRST STREET\nAUSTIN 78745,Yes (come to the shelter),11/04/2019,Pit Bull/Labrador Retriever,White/Blue,5 months,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...,Intact,Female,SOUTH WEST FIRST STREET\nAUSTIN 78745,None,None
6,A808213,10015 LAKE CREEK PARKWAY\nAUSTIN 78729\n(30.46...,Yes (come to the shelter),11/06/2019,Chihuahua Longhair,Tan,2 years,http://www.petharbor.com/pet.asp?uaid=ASTN.A80...,Neutered,Male,10015 LAKE CREEK PARKWAY\nAUSTIN 78729\n,30.467082,-97.787465

In [19]:
#Import Intakes csv
intakes_df = pd.read_csv("AAC_Intake.csv")

#Select rows where Type= "Dog"
intakes_df = intakes_df.loc[intakes_df['Animal Type'] == 'Dog']

#Select columns ('Animal ID','Name','DateTime','Found Location','Intake Type','Intake Condition','Sex upon Intake','Age upon Intake','Breed','Color')
intakes_df = intakes_df[['Animal ID',
                        'DateTime',
                        'Found Location',
                        'Intake Type',
                        'Intake Condition',
                        'Sex upon Intake',
                        'Age upon Intake',
                        'Breed',
                        'Color']]

##Split Sex Upon intake column into gender and intake sex
#split value of Sex upon intake column
intake_sex_split = intakes_df['Sex upon Intake'].str.split(" ", n = 1, expand = True) 
  
# making separate intske sex column from new data frame 
intakes_df["Intake_Sex"]= intake_sex_split[0] 
  
# making separate gender column from new data frame 
intakes_df["Gender"]= intake_sex_split[1] 
  
# Dropping old Sex upon intake column
intakes_df.drop(columns =['Sex upon Intake'], inplace = True) 


##Split Found location column into address, city, state
#split value of Sex upon intake column
intake_loc_split = intakes_df['Found Location'].str.split(" in ", n = 1, expand = True) 
  
# making separate address column from new data frame 
intakes_df["Found Street"]= intake_loc_split[0] 

#split city/state on "("
intake_state_split = intake_loc_split[1] .str.split("(", n = 1, expand = True) 

# making separate city, state columns from new data frame 
intakes_df["Found City"]= intake_state_split[0] 
intakes_df["Found State"]= intake_state_split[1].str.replace(')', '')


intakes_df.head()

,Animal ID,DateTime,Found Location,Intake Type,Intake Condition,Age upon Intake,Breed,Color,Intake_Sex,Gender,Found Street,Found City,Found State
0,A786884,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,2 years,Beagle Mix,Tricolor,Neutered,Male,2501 Magin Meadow Dr,Austin,TX
1,A706918,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,8 years,English Springer Spaniel,White/Liver,Spayed,Female,9409 Bluegrass Dr,Austin,TX
2,A724273,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,11 months,Basenji Mix,Sable/White,Intact,Male,2818 Palomino Trail,Austin,TX
4,A682524,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Neutered,Male,800 Grove Blvd,Austin,TX
5,A743852,02/18/2017 12:46:00 PM,Austin (TX),Owner Surrender,Normal,2 years,Labrador Retriever Mix,Chocolate,Neutered,Male,Austin (TX),None,None

In [20]:
#Import Outcomes csv
outcomes_df = pd.read_csv("AAC_Outcome.csv")

#Select rows where Type= "Dog"
outcomes_df = outcomes_df.loc[outcomes_df['Animal Type'] == 'Dog']


#Select columns ('Animal ID', 'Name', 'DateTime', 'Date of Birth', 'Outcome Type', 'Outcome Subtype', 'Sex upon Outcome', 'Age upon Outcome', 'Breed', 'Color')
outcomes_df = outcomes_df[['Animal ID', 
                          'Name', 
                          'DateTime', 
                          'Date of Birth', 
                          'Outcome Type', 
                          'Sex upon Outcome', 
                          'Age upon Outcome']]

#Split Sex column into gender and outcome sex. Remove Gender column
#split value of Sex upon outcome column
outcome_sex_split = outcomes_df['Sex upon Outcome'].str.split(" ", n = 1, expand = True) 
  
# making separate sex outcome column from new data frame 
outcomes_df["Outcome_Sex"]= outcome_sex_split[0] 
  
# Dropping old sex upon outcome column
outcomes_df.drop(columns =['Sex upon Outcome'], inplace = True) 

outcomes_df.head()

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Age upon Outcome,Outcome_Sex
0,A789027,Lennie,02/17/2019 11:44:00 AM,02/13/2017,Adoption,2 years,Neutered
1,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,4 months,Neutered
9,A789027,Lennie,03/10/2019 12:25:00 PM,02/13/2017,Adoption,2 years,Neutered
12,A795059,NaN,05/16/2019 10:14:00 AM,03/15/2019,Euthanasia,2 months,Intact
13,A795043,NaN,05/16/2019 10:17:00 AM,03/31/2019,Euthanasia,1 month,Intact

In [21]:
#Import Cats vs. Dogs csv
catsvdogs_df = pd.read_csv("catsvdogs.csv")

#Select rows where Location=Texas
catsvdogs_df = catsvdogs_df.loc[catsvdogs_df['Location'] == 'Texas']

#Select columns ('Location','Number of Households (in 1000)','Percentage of households with pets''Number of Pet Households (in 1000)','Percentage of Dog Owners','Dog Owning Households (1000s)','Mean Number of Dogs per household','Dog Population (in 1000)')
catsvdogs_df = catsvdogs_df[['Location',
                            'Number of Households (in 1000)',
                            'Percentage of households with pets',
                            'Number of Pet Households (in 1000)',
                            'Percentage of Dog Owners',
                            'Dog Owning Households (1000s)',
                            'Mean Number of Dogs per household',
                            'Dog Population (in 1000)']]

catsvdogs_df.head()

#to csv
#catsvdogs_df.to_csv('Pet_Dogs_Final.csv')

,Location,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000)
41,Texas,"9,002",58.5,"5,265",44.0,"3,960",1.8,"7,163"

In [27]:
#Merge DataFrames (intake, outcome, found?)
merged_df = intakes_df.merge(outcomes_df, how='inner', on='Animal ID')

#Split color by "/" (color 1, color2, color3)
#split value of color column
merged_color_split = merged_df['Color'].str.split("/", n = 2, expand = True) 
  
# making separate color1 column from new data frame 
merged_df["Color1"]= merged_color_split[0] 

# making separate color2 column from new data frame 
merged_df["Color2"]= merged_color_split[1] 

# making separate color3 column from new data frame 
#merged_df["Color3"]= merged_color_split[2]
  
# Dropping old color column
merged_df.drop(columns =['Color'], inplace = True) 


#Split breed by "/" (breed1, breed2, breed3)
#split value of breed column
merged_breed_split = merged_df['Breed'].str.split("/", n = 2, expand = True) 
  
# making separate breed1 column from new data frame 
merged_df["Breed1"]= merged_breed_split[0] 

# making separate breed2 column from new data frame 
merged_df["Breed2"]= merged_breed_split[1] 

# making separate breed3 column from new data frame 
#merged_df["Breed3"] = merged_breed_split[2]
  
# Dropping old breed column
merged_df.drop(columns = ['Breed'], inplace = True) 

#Create Duration of Stay column
#merged_df["AAC_Duration"] = merged_df["DateTime_y"] - merged_df["DateTime_x"]


#Remove NaN rows or replace NaN values
#merged_df = merged_df.dropna(inplace=True)

merged_df.head()

#Count rows in each column
merged_df.count()

#Export to csv
#merged_df.to_csv('AAC_In_Out.csv')

Animal ID           90324
DateTime_x          90324
Found Location      90324
Intake Type         90324
Intake Condition    90324
Age upon Intake     90324
Intake_Sex          90323
Gender              89907
Found Street        90324
Found City          64958
Found State         64958
Name                79428
DateTime_y          90324
Date of Birth       90324
Outcome Type        90322
Age upon Outcome    90317
Outcome_Sex         90320
Color1              90324
Color2              61866
Breed1              90324
Breed2              14785
dtype: int64

# LOAD

In [ ]:
#load to SQL